<h1>Restaurants</h1>
<section>
    
    {{#each restaurants}}
    <div class="flipcard">
        <div class="inner">
    <article class="front" style ="background-image: url({{this.image}});">
        <h2 class="restTitle">{{this.name}}</h2>
    </article>
        <a href="/restaurants/{{this.id}}">
        <article class="back"> 
            <ul class="listMenus">
                <h2>{{this.name}} &#8594; Menus</h2>
                {{#each menus}}
                <li>{{this.title}}</li>
                {{/each}}
            </ul>
        </article>
        </a>
    </div>
     </div>
    {{/each}}
        <article class="flipcard addNew">
        <h2 class="addNewHeading">Add New Restaurant</h2>
        <form action="/restaurants" method="POST">
            <ul class="form-style">
            <li>
                <label>Restaurant Name: <span class="required">* </span></label>
                <input type="text" name="name" class="field-long" placeholder="Name of Restaurant" required/>
            <li>
            <label>Image URL: <span class="required">* </span></label>
            <input type="url" name="image" class="field-long" placeholder="http://www.url.com/img.jpeg" required/>
            </li>
            <li>
                <input type="submit" value="Submit" />
            </li>
            </ul>
        </form>
    </article>
</section>